target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
spring-shell.log
**/*.exec
.DS_Store
Thumbs.db
.env
.env.local
.env.*.local